name: Test All
on:
  pull_request:
  workflow_dispatch:

jobs:
  test-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

  test-check-base-images:
    uses: ./.github/workflows/test-check-base-images.yml

  test-check-if-latest-lts-release:
    uses: ./.github/workflows/test-check-if-latest-lts-release.yml

  test-check-redhat-service-status:
    uses: ./.github/workflows/test-check-redhat-service-status.yml

  test-download-hz-dist:
    uses: ./.github/workflows/test-download-hz-dist.yml

  test-get-distribution-classifiers:
    uses: ./.github/workflows/test-get-distribution-classifiers.yml

  test-get-hz-versions:
    uses: ./.github/workflows/test-get-hz-versions.yml

  test-get-supported-jdks:
    uses: ./.github/workflows/test-get-supported-jdks.yml

  test-get-supported-platforms:
    uses: ./.github/workflows/test-get-supported-platforms.yml

  test-resolve-editions:
    uses: ./.github/workflows/test-resolve-editions.yml

  test-slack-notification:
    uses: ./.github/workflows/test-slack-notification.yml
    secrets: inherit

  test-test-image-size:
    uses: ./.github/workflows/test-test-image-size.yml
    secrets: inherit

  assert-all-jobs-succeeded:
    runs-on: ubuntu-latest
    needs:
      - test-check-base-images
      - test-check-if-latest-lts-release
      - test-check-redhat-service-status
      - test-download-hz-dist
      - test-get-distribution-classifiers
      - test-get-hz-versions
      - test-get-supported-jdks
      - test-get-supported-platforms
      - test-resolve-editions
      - test-slack-notification
      - test-test-image-size
    if: always()
    steps:
      - name: Check all jobs succeeded
        run: |
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "❌ Some jobs failed or were cancelled"
            exit 1
          else
            echo "✅ All jobs completed successfully!"
          fi
