name: Test get-jfrog-credentials action

on:
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

        # Run it twice to ensure no env name collisions
      - uses: ./get-jfrog-credentials
        with:
          aws-role-to-assume: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          jfrog-oidc-provider-name: ${{ github.repository_owner }}-snapshot-internal

      - uses: ./get-jfrog-credentials
        id: jfrog
        with:
          aws-role-to-assume: ${{ secrets.AWS_HAZELCAST_OIDC_GITHUB_ACTIONS_ROLE_ARN }}
          jfrog-oidc-provider-name: ${{ github.repository_owner }}-snapshot-internal

      - name: Test
        run: |
          set -o errexit -o nounset -o pipefail ${RUNNER_DEBUG:+-x}
          source /dev/stdin <<< "$(curl --silent https://raw.githubusercontent.com/hazelcast/assert.sh/main/assert.sh)"

          TESTS_RESULT=0
          
          assert() {
            local actual=$1
            local name=$2
            local msg="${name} should not be empty"
            assert_not_empty "${actual}" "$msg" && log_success "${msg}" || TESTS_RESULT=$?
          }

          assert "${{ steps.jfrog.outputs.url }}" "url"
          assert "${{ steps.jfrog.outputs.user }}" "user"
          assert "${{ steps.jfrog.outputs.token }}" "token"

          assert_eq 0 "$TESTS_RESULT" "All tests should pass"
